.env
.eslintrc
.eslintignore
.prettierrc

.editorconfig
.lintstagedrc.json

serverless.yml
commitlint.config.js
.env.example.sh
CHANGELOG.md

test
coverage
.serverless/*
node_modules/*

.git/*
.gitignore
